#mnu{
    color: #fff;
}
#icon{
    color: white;
}
.ico{
}
.ico-down{
    text-align: right;
}
.stilo>li>a {
    color: #fff;
}

#page-wrapper {
    background-color: #D3D3D3;
}
.div-img{
    background-image:url(imagens/soft.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
}

/* PESQUISAR CLIENTE */





/* PESQUISAR CLIENTE */
    